certifi==2026.2.25
charset-normalizer==3.4.7
distlib==0.4.0
docutils==0.22.4
filelock==3.25.2
filetype==1.2.0
idna==3.11
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
pillow==10.4.0
platformdirs==4.9.4
Pygments==2.20.0
pypiwin32==223
python-discovery==1.2.1
pywin32==311
requests==2.33.1
setuptools==82.0.1
urllib3==2.6.3
virtualenv==21.2.0
